<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="top-bar">
    <div class="page-title">
        <h1>Welcome to the scheduling app</h1>
    </div>
    <div class="main-option">
        <h3>Please fill out the following form to schedule a meeting.</h3>
        <form id="user-info">
            First name: <input type="text" name="fName">
            Last name: <input type="text" name="lName"><br>
            Start time: <input type="text" name="sTime">
            End time: <input type="text" name="eTime"><br>
            Date: <input type="date" name="date"><br>
            <button>Submit</button>
        </form>
    </div>
</div>

</body>
</html>